.pricing-table {
    margin: 50px auto;
    text-align: center;
}
.card {
    margin: 20px;
}
.card-title {
    font-size: 24px;
    margin: 20px 0;
}
.card-price {
    font-size: 32px;
    color: #007bff;
    margin: 20px 0;
}
.card-features {
    list-style-type: none;
    padding: 0;
}
.card-features li {
    margin: 10px 0;
}
/* #content {
    padding-bottom: 20px;
}
.pricing-table div {
    margin-bottom: 20px;
} */

.toggle-container {
    justify-self: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(26px);
}