body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

#privacy-policy, #terms-of-service {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #333;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 10px;
    list-style-type: disc;
    margin-left: 20px;
}

p {
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
}

footer {
    text-align: center;
    margin-top: 20px;
}